.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

#header {
  background-color: green;
  height: 25vh;
  border: solid 1px gold;
  margin: 4px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

#content {
  height: 75vh;
  background-color: crimson;
}

@media (max-width: 780px) {
  #header {
    /*min-height: 50vh;*/
  }
}