.navCardPaper {
    flex: 1;
    min-width: 40%;
    margin: 30px;
    min-height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navCardLabel {
    font-size: 41px;
}

@media (max-width: 780px) {
    .navCardPaper {
        min-width: 50%;
        margin: 5px;
        min-height: 15vh;
    }

    .navCardLabel {
        font-size: 11px;
    }
}
