.navCardPaper {
    flex: 1;
    min-width: 40%;
    margin: 30px;
    min-height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.defaultPaper {
    min-width: 100%;
}

.navCardLabel {
    font-size: 25px;
}

.selected {
    background-color: pink;
    cursor: zoom-out;
}

.unselected {
    cursor: pointer;
    height: 60px;
}

.paperContent > * {
    margin: 30px;
}

.paperContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divContainer {
    min-height: 44%; /*TODO: change this So it automatically fills what's left of the screen*/
}

.selectedPaperContent {
    background-color: #DDD;
}

@media (max-width: 780px) {
    .navCardPaper {
        min-width: 50%;
        margin: 5px;
        min-height: 15vh;
    }

    .navCardLabel {
        font-size: 11px;
    }
}
